h1 {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.64px; }

h2 {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -18px;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.64px; }
  h2:before, h2:after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 240px;
    background-color: #3c3c3c;
    margin-bottom: 10px; }
  h2:before {
    margin-right: 69px; }
  h2:after {
    margin-left: 70px; }

h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.64px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

body {
  color: "Lato", sans-serif;
  font-size: 16px;
  color: #3c3c3c; }

img {
  max-width: 100%; }

.grid {
  width: 900px;
  margin: 0 auto; }

.content-box {
  width: 630px;
  margin: 0 auto;
  text-align: center; }

.btn {
  width: 390px;
  height: 60px;
  background-color: #3c3c3c;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px; }

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 65px; }
  .page-footer img {
    margin-right: 38px; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-top: 280px;
  padding-bottom: 115px;
  background: url("../img/hero-bg.jpg") no-repeat top right/cover;
  color: #fff; }
  .hero__logo {
    display: block;
    margin-bottom: 90px; }
  .hero__title {
    margin-bottom: 50px;
    white-space: pre; }
  .hero__description {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.9px;
    line-height: 29px;
    margin-bottom: 240px;
    white-space: pre; }
  .hero__scroll {
    display: block;
    margin: 0 auto;
    width: 23px;
    height: 37px;
    background-image: url("../img/scroll.svg"); }

.about {
  padding-top: 160px;
  padding-bottom: 159px;
  color: #3c3c3c; }
  .about__content {
    border: 2px solid #3c3c3c;
    border-top: none;
    text-align: center;
    position: relative;
    padding-top: 70px; }
  .about__description {
    font-size: 16px;
    line-height: 24px;
    white-space: pre; }

.services {
  background: url("../img/services.jpg") no-repeat top right/cover;
  padding-top: 130px;
  padding-bottom: 110px;
  color: #fff; }
  .services__content {
    border: 2px solid #fff;
    border-top: none;
    text-align: center;
    position: relative;
    padding-top: 70px;
    padding-bottom: 55px; }
    .services__content h2:before, .services__content h2:after {
      background-color: #fff; }
    .services__content h2:after {
      margin-left: 74px; }
  .services__description {
    font-size: 16px;
    line-height: 26px;
    white-space: pre; }

.whatwedo {
  padding-top: 120px;
  padding-bottom: 114px; }
  .whatwedo__content {
    border: 2px solid #3c3c3c;
    border-top: none;
    text-align: center;
    position: relative;
    padding-top: 115px; }
    .whatwedo__content h2:before {
      margin-right: 29px; }
    .whatwedo__content h2:after {
      margin-left: 36px; }
  .whatwedo img {
    display: inline-block;
    margin-bottom: 38px; }
  .whatwedo h3 {
    margin-bottom: 34px; }
  .whatwedo p {
    font-size: 14px;
    line-height: 26px;
    white-space: pre; }

.design {
  margin-bottom: 105px; }

.development {
  margin-bottom: 93px; }

.product {
  margin-bottom: 93px; }

.alboms {
  font-size: 0; }
  .alboms ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .alboms ul li:nth-child(2) {
      margin: 0 10px; }
  .alboms ul:first-child {
    margin-bottom: 10px; }

.contact {
  padding-top: 139px;
  padding-bottom: 65px; }
  .contact__content {
    border: 2px solid #3c3c3c;
    border-top: none;
    text-align: center;
    position: relative;
    padding-top: 75px;
    padding-bottom: 50px; }
    .contact__content h2:before {
      margin-right: 37px; }
    .contact__content h2:after {
      margin-left: 38px; }
  .contact__description {
    margin-bottom: 42px; }

/*# sourceMappingURL=style.css.map */