* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    color: $font-lato;
    font-size: 16px;
    color: $color-dark;
}

img {
    max-width: 100%;
}

.grid {
    width: 900px;
    margin: 0 auto;
}

.content-box {
    width: 630px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    width: 390px;
    height: 60px;
    background-color: $color-dark;
    text-transform: uppercase;
    color: $color-white;
    font-size: 16px;
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    img {
        margin-right: 38px;
    }
}